@CHARSET "UTF-8";

body		{ margin: 0; padding: 0; font-family: Helvetica, sans-serif; font-size: 10pt; }

#page		{ background: #eeeeee; }
#container	{ background: #dddddd; width: 1000px; margin: 0 auto; }
#header		{ background: #cccccc; height: 80px; }
#topnav		{ background: #bbbbbb; height: 40px; position: relative; }

#login_box				{ position: absolute; top: 0; right: 0; }
#login_box .username	{ font-weight: bold; }

#leftnav	{ background: #aaaaaa; width: 200px; float: left; }
#content	{ background: #999999; width: 800px; float: left; }
#footer		{ background: #888888; height: 80px; clear: left; }